* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* Hero start */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("portfolioimg3.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  color: white;
  text-align: center;
  font-size: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 12px 25px;
  color: white;
  background-color: teal;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 5px;
}

.hero-text button:hover {
  background-color: darkcyan;
  color: white;
}

.fa-github {
  font-size: 600%;
  color: white;
  position: relative;
  top: -470px;
  right: -1800px;
}

.fa-linkedin {
  font-size: 600%;
  color: white;
  position: relative;
  top: -370px;
  right: -1710px;
}
/* Hero end */

/* About me start */
.about-me {
  font-size: 1.5rem;
  display: block;
  position: relative;
  text-align: center;
  padding: 1rem 43rem;
  padding-top: 7rem;
  padding-bottom: 15rem;
  margin: 0 auto;
}

.about-me p {
  font-weight: lighter;
  text-align: left;
}

.about-me h2 {
  text-align: left;
}
/* About me end */

/* Project container start */
.project-container {
  display: flex;
  justify-content: center;
  background-color: black;
  flex-direction: row;
}

.projects-containers {
  width: 500px;
  height: 800px;
  margin: 2rem 20px;
  font-size: 20px;
  color: white;
  position: relative;
}

.container-1 {
  background: linear-gradient(to bottom, #92a4d5 50%, #d01e25 50%);
}

.container-2 {
  background: linear-gradient(to bottom, #72ab50 50%, #d01e25 50%);
}

.container-3 {
  background: linear-gradient(to bottom, #19b4b8 50%, #d01e25 50%);
}

.projects-title {
  background-color: black;
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding-left: 10rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.project-text {
  position: absolute;
  bottom: 55px;
  font-size: 25px;
}

.project-text h3 {
  font-weight: bold;
  position: absolute;
  bottom: 270px;
  right: -35px;
}

.project-text p {
  line-height: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
/* Project container end */

/* Form start */
.subm {
  color: white;
  background-color: #72ab50;
  width: 400px;
  font-size: 17px;
  text-align: center;
}

form {
  font-size: 25px;
  color: white;
  background-color: black;
  padding-top: 2rem;
  padding-left: 10.5rem;
  padding-bottom: 3rem;
}

form h2 {
  padding-bottom: 2rem;
  font-weight: bold;
}

textarea {
  width: 400px;
  height: 200px;
}

input {
  width: 400px;
  height: 2.5rem;
}

.subm:hover {
  background-color: #609144;
  cursor: pointer;
}

.fa-3 {
  color: white;
  font-size: 550%;
  position: relative;
  top: -660px;
  right: -950px;
}

.fa-4 {
  color: white;
  font-size: 550%;
  position: relative;
  top: -660px;
  right: -956px;
}

.icons-text {
  background-color: black;
}

.icons-text p:nth-of-type(1) {
  color: white;
  font-size: 35px;
  position: relative;
  top: -725px;
  right: -1050px;
}

.icons-text p:nth-of-type(2) {
  color: white;
  font-size: 35px;
  position: relative;
  top: -730px;
  right: -1053px;
}
/* Form end */

/*Copyright*/
.copyright {
  display: none;
}

/*Copyright*/

/*Media queries*/
/*mobile*/
@media screen and (max-width: 480px) {
  .about-me {
    font-size: 20px;
    display: block;
    position: relative;
    text-align: center;
    padding: 1rem;
    padding-top: 7rem;
    padding-bottom: 13rem;
    padding-left: 3rem;
    margin: 0 auto;
  }

  .hero-image {
    height: 70%;
  }

  .hero-text h1 {
    font-size: 30px;
    width: 300px;
  }

  .hero-text p {
    font-size: 20px;
  }

  .hero-text button {
    font-size: 15px;
    padding: 10px;
  }

  .fa-github {
    font-size: 400%;
    color: white;
    position: relative;
    top: -505px;
    right: -412px;
  }

  .fa-linkedin {
    font-size: 400%;
    color: white;
    position: relative;
    top: -440px;
    right: -350px;
  }

  .project-container {
    display: flex;
    justify-content: center;
    background-color: black;
  }

  .projects-containers {
    width: 400px;
    height: 600px;
    margin: 2rem 40px;
    font-size: 20px;
    color: white;
    position: relative;
  }

  .projects-title {
    font-size: 35px;
    font-weight: bold;
    padding-left: 2.4rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
  }

  .container-1 {
    background: linear-gradient(to bottom, #8c56be 50%, #be5555 50%);
  }

  .container-2 {
    background: linear-gradient(to bottom, #56be85 50%, #be5555 50%);
  }

  .container-3 {
    background: linear-gradient(to bottom, #5683be 50%, #be5555 50%);
  }

  .project-text h3 {
    font-size: 23px;
    bottom: 210px;
    right: -13px;
  }

  .project-text p {
    font-size: 20px;
    line-height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    bottom: -40px;
    right: 25px;
  }

  form {
    font-size: 20px;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 3rem;
  }

  form h2 {
    padding-bottom: 2rem;
  }

  textarea {
    height: 150px;
  }

  input {
    height: 2rem;
  }

  .fa-3 {
    font-size: 400%;
    position: relative;
    top: -20px;
    right: -62px;
  }

  .fa-4 {
    font-size: 400%;
    position: relative;
    top: -45px;
    right: -64px;
  }

  .icons-text p:nth-of-type(1) {
    font-size: 25px;
    position: relative;
    top: -67px;
    right: -130px;
  }

  .icons-text p:nth-of-type(2) {
    font-size: 25px;
    position: relative;
    top: -95px;
    right: -130px;
  }
}
/*mobile end*/

/*tablet*/
@media screen and (max-width: 700px) {
  .about-me {
    font-size: 20px;
    display: block;
    position: relative;
    text-align: center;
    padding: 1rem;
    padding-top: 7rem;
    padding-bottom: 13rem;
    padding-left: 3rem;
    margin: 0 auto;
  }

  .hero-image {
    height: 60%;
  }

  .hero-text h1 {
    font-size: 30px;
  }

  .hero-text p {
    font-size: 20px;
  }

  .hero-text button {
    font-size: 15px;
    padding: 10px;
  }

  .fa-github {
    font-size: 400%;
    position: relative;
    top: -355px;
    right: -623px;
  }

  .fa-linkedin {
    font-size: 400%;
    position: relative;
    top: -425px;
    right: -560px;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    padding-left: 7rem;
  }

  .projects-containers {
    width: 400px;
    height: 600px;
    margin: 2rem 40px;
    font-size: 20px;
    color: white;
    position: relative;
  }

  .projects-title {
    font-size: 35px;
    font-weight: bold;
    padding-left: 2rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
  }

  .container-1 {
    background: linear-gradient(to bottom, #8c56be 50%, #be5555 50%);
  }

  .container-2 {
    background: linear-gradient(to bottom, #56be85 50%, #be5555 50%);
  }

  .container-3 {
    background: linear-gradient(to bottom, #5683be 50%, #be5555 50%);
  }

  .project-text h3 {
    font-size: 23px;
    bottom: 210px;
    right: -15px;
  }

  .project-text p {
    font-size: 20px;
    line-height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    bottom: -40px;
    right: 25px;
  }

  form {
    font-size: 20px;
    color: white;
    background-color: black;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 3rem;
  }

  form h2 {
    padding-bottom: 2rem;
  }

  textarea {
    width: 600px;
    height: 150px;
  }

  input {
    height: 2rem;
    width: 600px;
  }

  .subm {
    width: 600px;
  }

  .fa-3 {
    font-size: 400%;
    position: relative;
    top: -20px;
    right: -62px;
  }

  .fa-4 {
    font-size: 400%;
    position: relative;
    top: -45px;
    right: -64px;
  }

  .icons-text p:nth-of-type(1) {
    font-size: 25px;
    position: relative;
    top: -67px;
    right: -130px;
  }

  .icons-text p:nth-of-type(2) {
    font-size: 25px;
    position: relative;
    top: -95px;
    right: -130px;
  }

  .copyright {
    display: block;
    color: white;
    background-color: #303030;
    padding: 10px 10px;
    text-align: center;
  }
}
